body {
    margin: 0;
    padding: 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(253,187,45,1)  0%, rgba(34,193,195,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.main {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.personal-statement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.hobby {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.main > div img {
    height: 200px;
}

.education > p > span {
    color: red;
    font-size: 20px;
}
