body {
    margin: 0;
    padding: 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(253,187,45,1)  0%, rgba(34,193,195,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;    
    width: 50%;
}

.main {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

p > span {
    font-weight: bold;
    font-size: 24px;
}

.iut_logo {
    margin-top: 50px;
}

.prog_lang {
    color: white;
    text-shadow: 0 0 5px white;
}

.first_prog_lang {
    margin: 20px;
}

span > a {
    color: white;
}

span > a:hover {
    text-decoration: none;
    color: none;
}