body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin: 0;
    width: 100%;
}

#portrait {
    border-radius: 50%;
    margin-top: 50px;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}